 body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}

 .container {
      width: 1108px;
      margin: 0 auto;
 }

 .header {
      background-color: #E1EDE6;
      margin: 0;
      padding: 33px 165px 32px 165px;
     position: relative;

 }

 .header-line {
     display: flex;
     justify-content: space-between;
     text-decoration: none;
     position: relative;

 }

 .nav {

 }
 .text-button{
     border: 1px solid #598D66;
     display: inline-flex;
     padding: 20px 60px;
     justify-content: center;
     align-items: center;
     gap: 6px;
     flex-shrink: 0;
 }

 .btn {
     color: #598D66;
     font-family: Raleway;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-decoration: none;
 }

